body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.add-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

button#addTask {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.filter-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

select#filter {
    padding: 6px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.checkbox {
    margin-right: 10px;
}

.completed-task {
    text-decoration: line-through;
    color: #ccc;
}

.delete-button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}
